@model CreateProductViewModel
@{
    ViewBag.Title = "Add Product";
}
<div asp-validation-summary="All" class="text-danger mt-2"></div>
<div class="mt-3">
    <div class="card text-center">
        <h5 class="card-header">@Model.Category.CategoryName</h5>
        <div class="card-footer text-center">
            <form method="post" asp-action="AddProduct" asp-controller="Products">
                <input type="hidden" asp-for="CategoryId" value="@Model.Category.CategoryId" />
                <div class="form-group row">
                    <label asp-for="Name" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="Name" class="form-control" placeholder="Name...">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Price" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <input type="number" asp-for="Price" class="form-control" min="1" max="500_000" placeholder="Price...">
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-between">
                    <label asp-for="QuantityOfProductsToAdd" class="col-form-label">Products Count: </label>
                    <input type="number" asp-for="QuantityOfProductsToAdd" value="1" max="100" min="1" class="form-control col-2" placeholder="products...">
                </div>
                <span asp-validation-for="QuantityOfProductsToAdd" class="text-danger"></span>
                <br/>
                <a asp-action="Index" asp-controller="Stores" class="btn-primary btn mt-3">Back</a>
                <button type="submit" value="sumbit" class="btn btn-primary mt-3">Add</button>
            </form>
        </div>
    </div>
</div>