@using ChainStore.Domain.Repositories
@model DeleteProductViewModel
@inject ICategoryRepository CategoryRepository
@{
    ViewBag.Title = "Delete Product";
}
<form asp-controller="Products" asp-action="DeleteProduct" method="post">
    <input type="hidden" asp-for="ProductId" value="@Model.Product.Id"/>
    <input type="hidden" asp-for="CategoryId" value="@Model.Product.CategoryId"/>
    @{
        var category = CategoryRepository.GetOne(Model.Product.CategoryId);
    }
    <h4 class="text-danger card-text mt-3">Delete '@Model.Product.Name'? (Category @category.Name)</h4>
    <a asp-controller="Stores" asp-action="Index" class="btn btn-primary m-1">Back</a>
    <button type="submit" class="btn btn-danger m-1">Delete</button>
</form>