@model ReplenishProductsViewModel
@{
    ViewBag.Title = "Replenish Product";
}
<div asp-validation-summary="All" class="text-danger mt-2"></div>
<div class="mt-3">
    <div class="card text-center">
        <h5 class="card-header">Replenish product</h5>
        <h6 class="card-title mb-2 mt-2 text-muted">Product: @Model.Product.Name | Category: @Model.Category.CategoryName</h6>
        <div class="card-footer text-center">
            <form method="post" asp-action="ReplenishProduct" asp-controller="Products">
                <input type="hidden" asp-for="CategoryId" value="@Model.Category.CategoryId"/>
                <input type="hidden" asp-for="ProductId" value="@Model.Product.ProductId"/>
                <div class="d-flex flex-row justify-content-between">
                    <label asp-for="QuantityOfProductsToReplenish" class="col-form-label">Products Count: </label>
                    <input type="number" asp-for="QuantityOfProductsToReplenish" value="1" max="100" min="1" class="form-control col-2" placeholder="products...">
                </div>
                <span asp-validation-for="QuantityOfProductsToReplenish" class="text-danger"></span>
                <br/>
                <a asp-action="Index" asp-controller="Stores" class="btn-primary btn mt-3">Back</a>
                <button type="submit" value="sumbit" class="btn btn-primary mt-3">Add</button>
            </form>
        </div>
    </div>
</div>