@model DeleteMallViewModel
@{
    ViewBag.Title = "Delete Mall";
}
<div asp-validation-summary="All" class="text-danger mt-3"></div>
<form asp-controller="Malls" asp-action="DeleteMall" method="post">
    <input type="hidden" asp-for="MallId" value="@Model.MallId"/>
    <input type="hidden" asp-for="MallName" value="@Model.MallName"/>
    <input type="hidden" asp-for="MallLocation" value="@Model.MallLocation"/>
    <h4 class="text-danger card-text mt-3">Delete '@Model.MallName'? Warning! Make sure to remove all stores first!</h4>
    <a asp-controller="Malls" asp-action="Index" class="btn btn-primary m-1">Back</a>
    <button type="submit" class="btn btn-danger m-1">Delete</button>
</form>